@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* Global */

/* Mobiles & Tablets */

@media only screen and (max-width: 767px) {
  /* Form Contact me */
  
  .form-contact-me {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .input {
    border: 1px solid #cfd8dc;
    border-radius: 8px;
    height: 48px;
    width: 327px;
    margin-bottom: 20px;
    padding-left: 15px;
  }

  .input:focus {
    background-color: rgb(216, 218, 235);
  }

  #message {
    height: 170px;
    width: 327px;
    padding-top: 10px;
  }

  .submit-button {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: auto;
    height: 48px;
    padding: 10px;
    gap: 10px;
    border: 1px solid #2230d2;
    border-radius: 8px;
    background-color: #fff;
    color: #2230d2;
    margin-left: -210px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
  }

  .submit-button:hover {
    background: #2230d2;
    box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
    border-radius: 8px;
    color: #fff;
  }

  .submit-button:focus {
    background: #2230d2;
    color: #fff;
  }

  .submit-button:active {
    background: #5666f9;
    border-radius: 8px;
    color: #fff;
  }

}

/* Desktop */

@media (min-width: 768px) {
  /* Form Contact me */

  .primary-text-contact-me {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #fff;
  }

  .secondary-text-contact {
    width: 569px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #fff;
  }

  .form-contact-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }

  .form-field{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .error{
    border: red solid 3px;
    background-color: rgba(214, 11, 11, 0.429);
  }

  .success{
    border: green solid 3px;
  }

  small{
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    padding: 5px 5px;
    color: #000000;
    background-color: rgb(217, 217, 217);
    border-radius: 5px;
  }

  .input {
    border-radius: 8px;
    height: 48px;
    width: 393px;
    margin-top: 16px;
    font-weight: 500;
    font-size: 19px;
    color:black;
  }

  .input:focus {
    background-color: rgb(222, 222, 222);
  }

  #message {
    height: 170px;
    width: 393px;
    margin-top: 15px;
  }

  .submit-button {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: auto;
    height: 48px;
    margin-bottom: 63px;
    padding: 10px;
    border: 1px solid #2929ff;
    border-radius: 8px;
    background-color: #fff;
    color: #2929ff;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
  }

  .submit-button:focus {
    background: #2230d2;
    color: #fff;
  }

  .submit-button:hover {
    background: #2230d2;
    box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
    border-radius: 8px;
    color: #fff;
  }

  .submit-button:active {
    background: #3d4ff4;
    border-radius: 8px;
    color: #fff;
  }


}