@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@media only screen and (max-width: 820px) {
  .body {
    position: relative;
    width: 375px;
    height: 5410px;
    background: rgba(232, 232, 232, 0.875);
    overflow-x: hidden;
    margin-left: auto;
    margin-right: auto;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 692px;
    background: #fff;
    border-end-start-radius: 50px;
  }

  /* Toolbar */

  .toolbar {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 339px;
  }

  .logo {
    display: flex;
    align-items: center;
    padding: 10px 12px;
  }

  .logo a {
    text-decoration: none;
  }

  .my-logo {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: #6070ff;
  }

  nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
  }

  .menu-list {
    list-style-type: none;
    visibility: hidden;
    height: 1px;
  }

  .normal-button {
    display: flex;
    align-items: flex-start;
    padding: 8px;
  }

  .button {
    background-color: transparent;
    border: none;
  }

  /* Menu */

  .offcanvas-header {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    background: #6070ff;
    width: auto;
    height: 100px;
  }

  .offcanvas-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: auto;
    height: 628px;
    background: #6070ff;
  }

  .menu-items {
    list-style-type: none;
    text-align: center;
  }

  .offcanvas-body a {
    text-decoration: none;
  }

  .offcanvas-body span {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 44px;
    color: #fff;
  }

  /* Headline */

  .headline {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 375px;
    height: 604px;
    padding: 114px 24px;
    gap: 12px;
    background-image: url(./img/header-shapes_mobile.svg);
    background-position: center;
    background-position-y: 14px;
  }

  .primary-text-header {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #172b4d;
  }

  .primary-text-body {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
  }

  .social-media {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 16px;
  }

  .social-media a {
    text-decoration: none;
  }

  .supporting-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
  }

  .lets-connect {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    color: #7f8cff;
  }

  .social-media-icons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .header-icons {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .header-icons li {
    float: left;
    margin-right: 15px;
  }

  /* Works */

  .work {
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    padding: 114px 24px;
    gap: 88px;
  }

  .card-works {
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    padding: 16px;
    gap: 12px;
    border: 1px solid #dfe1e6;
    border-radius: 16px;
    background: #fff;
    box-sizing: border-box;
  }

  .snapshoot {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 295px;
    height: 220px;
    border-radius: 8px;
  }

  .left-block {
    display: grid;
    grid-template-columns: auto;
    align-items: flex-start;
    padding: 0;
    gap: 12px;
  }

  .primary-text-work {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    order: 0;
    padding: 0;
  }

  .project-title {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 44px;
    color: #172b4d;
  }

  .frame-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 12px;
    width: auto;
    height: 32px;
  }

  .client {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px 0;
    color: #344563;
    width: auto;
    height: 32px;
  }

  .role {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px 0;
    color: #7a869a;
    width: auto;
    height: 32px;
  }

  .year {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px 0;
    color: #7a869a;
    width: auto;
    height: 32px;
  }

  .text-p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
  }

  .counter {
    width: 8px;
    height: 8px;
    background-image: url(./img/Counter.svg);
  }

  .secondary-text-work p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #344563;
  }

  .secondary-text-work {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 76px;
  }

  .tags {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: auto;
    height: 24px;
  }

  .list-tag {
    list-style-type: none;
    padding-left: 1px;
  }

  .list-tag li {
    float: inline-start;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 12px;
    margin-right: 2vh;
    background: #ebebff;
    border-radius: 8px;
  }

  .list-tag li a {
    text-decoration: none;
  }

  .text-s {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #6070ff;
  }

  .action {
    display: flex;
    width: 295px;
    flex-direction: row;
    align-items: center;
    height: 72px;
  }

  .action-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: 48px;
    padding: 12px;
    gap: 10px;
    border: 1px solid #6070ff;
    border-radius: 8px;
    background-color: transparent;
  }

  .text-a {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    color: #396df2;
  }
}
