@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@media only screen and (max-width: 767px) {
  .body {
    position: relative;
    width: 375px;
    background: rgba(232, 232, 232, 0.875);
    overflow-x: hidden;
    margin-left: auto;
    margin-right: auto;
  }

  .container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 692px;
    background: #fff;
    border-end-start-radius: 50px;
  }

  /* Toolbar */

  .toolbar {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 339px;
  }

  .logo {
    display: flex;
    align-items: center;
    padding: 10px 12px;
  }

  .logo a {
    text-decoration: none;
  }

  .my-logo {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: #6070ff;
  }

  nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
  }

  .menu-list {
    list-style-type: none;
    visibility: hidden;
    height: 1px;
  }

  .normal-button {
    display: flex;
    align-items: flex-start;
    padding: 8px;
  }

  .button {
    background-color: transparent;
    border: none;
  }

  /* Menu */

  .offcanvas-header {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    background: #6070ff;
    width: auto;
    height: 100px;
  }

  .offcanvas-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: auto;
    height: 628px;
    background: #6070ff;
  }

  .menu-items {
    list-style-type: none;
    text-align: center;
  }

  .offcanvas-body a {
    text-decoration: none;
  }

  .offcanvas-body span {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 44px;
    color: #fff;
  }

  /* Headline */

  .headline {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 375px;
    height: 604px;
    padding: 114px 24px;
    gap: 12px;
    background-image: url(./img/header-shapes_mobile.svg);
    background-position: center;
    background-position-y: 14px;
  }

  .primary-text-header {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #172b4d;
  }

  .primary-text-body {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
  }

  .social-media {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 16px;
  }

  .social-media a {
    text-decoration: none;
  }

  .supporting-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
  }

  .lets-connect {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    color: #7f8cff;
  }

  .social-media-icons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .header-icons {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .header-icons li {
    float: left;
    margin-right: 15px;
  }

  /* Works */

  .work {
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    padding: 114px 24px;
    gap: 88px;
  }

  .card-works {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    gap: 12px;
    border: 1px solid #dfe1e6;
    border-radius: 16px;
    background: #fff;
    box-sizing: border-box;
  }

  .snapshoot {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 295px;
    height: 220px;
    border-radius: 8px;
  }

  .left-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 12px;
  }

  .primary-text-work {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    order: 0;
    padding: 0;
  }

  .project-title {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 44px;
    color: #172b4d;
  }

  .frame-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 12px;
    width: auto;
    height: 32px;
  }

  .client {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px 0;
    color: #344563;
    width: auto;
    height: 32px;
  }

  .role {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px 0;
    color: #7a869a;
    width: auto;
    height: 32px;
  }

  .year {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px 0;
    color: #7a869a;
    width: auto;
    height: 32px;
  }

  .text-p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
  }

  .counter {
    width: 8px;
    height: 8px;
    background-image: url(./img/Counter.svg);
  }

  .secondary-text-work p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #344563;
  }

  .secondary-text-work {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 76px;
  }

  .list-tag {
    width: 220px;
    height: 24px;
    padding-left: 1px;
    list-style-type: none;
    padding-top: 5px;
  }

  .list-tag li {
    float: left;
    padding: 4px 12px;
    background: #ebebff;
    margin-right: 1vh;
    border-radius: 8px;
  }

  .list-tag a {
    text-decoration: none;
  }

  .text-s {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
  }

  .action {
    display: flex;
    width: 295px;
    flex-direction: row;
    align-items: center;
    height: 72px;
  }

  .action-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: 48px;
    padding: 12px;
    gap: 10px;
    border: 1px solid #6070ff;
    border-radius: 8px;
    background-color: transparent;
    color: #396df2;
  }

  .action-button:hover {
    background: #6070ff;
    box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
    border-radius: 8px;
    color: #fff;
  }

  .action-button:active {
    background: #2230d2;
    border-radius: 8px;
    color: #fff;
  }

  .text-a {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
  }

  /* About Me */

  .base-about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
  }

  .about-my-self {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 114px 24px;
    gap: 24px;
    width: 375px;
  }

  .top {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 12px;
  }

  .primary-text-about-me {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    width: 250px;
    color: #172b4d;
  }

  .secondary-text-about-me {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #344563;
  }

  .social-media-about-me {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 18px;
    gap: 16px;
  }

  .suppoting-text-about-me {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 8px;
  }

  .suppoting-text-about-me a {
    text-decoration: none;
  }

  .frame-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
  }

  .skill-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .skill-list li {
    list-style-type: none;
  }

  #frame-skill {
    width: 327px;
    height: 72px;
    display: grid;
    align-items: center;
    justify-content: space-between;
    grid-template-columns: auto auto;
    padding: 5px;
  }

  .frame-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .text-skill {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    padding-left: 6px;
  }

  .button-skill {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px;
    width: 40px;
    height: 40px;
    margin-right: 13px;
    background-color: transparent;
    border: none;
  }

  .separator {
    background: #dfe1e6;
    height: 1px;
    grid-column: 1 / span 2;
  }

  #s-1 {
    visibility: hidden;
  }

  .languages-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;
    gap: 12px;
  }

  .frame-list {
    width: 303px;
    height: 66.72px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    background: #f7f7f9;
    border-radius: 8px;
  }

  .frame-img {
    background: transparent;
    padding-left: 10px;
  }

  .frame-text {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
  }

  .contact-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 779px;
    background: #6070ff;
    background-image: url(./img/contact\ form\ shapes-mobile.svg);
    background-position: 153px 0;
    background-repeat: no-repeat;
  }

  .primary-text-contact-me {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #fff;
    margin-top: 103px;
  }

  .secondary-text-contact {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #ebebff;
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 35px;
  }

  /* Contac Me */

  .form-contact-me {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .input {
    border: 1px solid #cfd8dc;
    border-radius: 8px;
    height: 48px;
    width: 327px;
    margin-bottom: 20px;
    padding-left: 15px;
  }

  #message {
    height: 170px;
    width: 327px;
    padding-top: 10px;
  }

  .submit-button {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: auto;
    height: 48px;
    padding: 10px;
    gap: 10px;
    border: 1px solid #6070ff;
    border-radius: 8px;
    background-color: #fff;
    color: #6070ff;
    margin-left: -210px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
  }

  .submit-button:hover {
    background: #2230d2;
    box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
    border-radius: 8px;
    color: #fff;
  }

  .submit-button:active {
    background: #6070ff;
    border-radius: 8px;
    color: #fff;
  }
}

@media (min-width:768px) {

}