@media only screen and (max-width: 767px) {

  .headline {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: auto;
    padding: 114px 24px;
    gap: 12px;
    background-image: url('/src/assets/Mobile/header_background_mobile.svg');
    background-position: center;
    background-position-y: 14px;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .primaryTextHeader {
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #172b4d;
  }

  .primaryTextBody {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
  }

  .socialMedia {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }

  .supportingText {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
  }

  .letsConnect {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    color: #2230d2;
  }

  .letsConnect:hover {
    color: #091e42;
  }

  .headerIcons {
    display: flex;
    list-style-type: none;
    padding: 0;
    gap: 3vh;
  }

  .headerIcons li {
    display: flex;
    align-items: center;
  }

  .smIcons img {
    width: auto;
    height: auto;
  }

}

@media (min-width: 768px) {

}