/* Mobiles & Tablets */

@media only screen and (max-width: 767px) {
  /* Toolbar */
  .toolbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 0;
  }

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2vh 3vh;
  }

  .myLogo {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: #2929ff;
  }

  .menuButton {
    margin: 2vh 3vh;
    border: none;
    background: transparent;
  }

  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: #1040a0;
  }

  .closeContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    height: 3vh;
    margin: 5vh 0 3vh 0
  }

  .closeButton {
    border: none;
    background: transparent;
    color: #fff;
    font-size: 3vh;
  }

  .sidebar ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 3vh;
    font-size: 4vh;
    align-items: center;
  }

  /* Headline */
  .headline {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: auto;
    padding: 114px 24px;
    gap: 12px;
    background-image: url(../assets/Mobile/header_background_mobile.svg);
    background-position: center;
    background-position-y: 14px;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .primaryTextHeader {
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #172b4d;
  }

  .primaryTextBody {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
  }

  .socialMedia {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }

  .supportingText {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
  }

  .letsConnect {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    color: #2230d2;
  }

  .letsConnect:hover {
    color: #091e42;
  }

  .headerIcons {
    display: flex;
    list-style-type: none;
    padding: 0;
    gap: 5vh;
  }

  .headerIcons li {
    display: flex;
    align-items: center;
  }

  .smIcons img {
    width: auto;
    height: auto;
  }

}

@media (min-width: 768px) {
  /* Toolbar */

  .toolbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    background-color: #fff;
  }

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .my-logo {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: #2929ff;
  }

  .menuList {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 18px;
    padding: 0;
    height: 4vh;
  }

  .menuList li {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
  }

  .menuList li a:hover,
  .menuList li a.active {
    color: #67c659 !important;
  }

  .menuList li a:hover::after,
  .menuList li a.active::after {
    content: "";
    width: 100%;
    height: 2px;
    background: #5e59c6;
    display: flex;
  }
}