/* Mobiles & Tablets */

@media only screen and (max-width: 767px) {

  .sidebar{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 10%;
    height: 100vh;
    width: 100%;
    background-color: #040a16;
  }

  .sidebar ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 3vh;
    font-size: 3vh;
    align-items: center;
  }

}