@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* Global */

/* Mobiles & Tablets */

@media only screen and (max-width: 767px) {
  /* Work-aux */

  .wrapper {
    position: fixed;
    top: 0;
    left: 100%;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    padding: 60px 16px 50px 16px;
    backdrop-filter: blur(10px);
    transition: all 500ms;
  }

  .visible {
    left: 0;
    overflow-x: hidden;
  }

  .card-aux {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: auto;
    padding: 2vh;
    border-radius: 2vh;
    background-color: #fff;
    overflow-y: visible;
  }

  .header-aux {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 18px 0 0 10px;
  }

  .title-aux {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
  }

  #title-a {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    color: #172b4d;
  }

  .close-aux {
    display: flex;
    align-items: center;
    margin-top: -1%;
    background: transparent;
    border: transparent;
  }

  .img-a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 300px;
    margin: 16px 0 16px 0;
    border-radius: 8px;
    overflow: hidden;
  }

  #img-aux {
    width: 100%;
    border-radius: 8px;
    object-fit: cover;
  }

  .left-block-aux {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 12px;
    gap: 12px;
  }

  .secondary-text-work-aux {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    color: #344563;
  }

  .line-aux {
    display: flex;
    width: 100%;
    height: 1px;
    background-color: #dbdcde;
  }

  .container-btn-aux {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 16px;
    gap: 15px;
  }

  .container-btn-aux a {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 14px;
    gap: 10px;
    border: 1px solid #6070ff;
    border-radius: 8px;
    background-color: transparent;
  }

  .container-btn-aux span {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #1120a1;
  }
}

/* Desktop */

@media (min-width: 768px) {
  /* Work-aux */

  .wrapper {
    position: fixed;
    top: 0;
    left: 100%;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    padding: 5vh;
    backdrop-filter: blur(10px);
    transition: all 500ms;
  }

  .visible {
    left: 0;
    overflow-x: hidden;
  }

  .card-aux {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 24px;
    gap: 24px;
    border-radius: 2vh;
    background-color: #fff;
    overflow-y: visible;
  }

  .header-aux {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 12px;
  }

  .title-aux {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding: 0;
  }

  #title-a {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    color: #172b4d;
  }

  .close-aux {
    display: flex;
    align-items: center;
    margin-top: -1%;
    background: transparent;
    border: transparent;
  }

  .img-a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 586px;
    overflow: hidden;
  }

  #img-aux {
    width: 100%;
    border-radius: 8px;
    object-fit: cover;
  }

  .left-block-aux {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 12px;
  }

  .secondary-text-work-aux {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    color: #344563;
  }

  .line-aux {
    display: flex;
    width: 100%;
    height: 1px;
    background-color: #dbdcde;
  }

  .container-btn-aux {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 16px;
    gap: 15px;
  }

  .btn-aux {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 14px;
    gap: 10px;
    border: 1px solid #6070ff;
    border-radius: 8px;
    background-color: transparent;
  }

  .container-btn-aux span {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #1120a1;
  }
}
