@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* Global */
.body a {
  text-decoration: none;
  color: #2230d2;
}

/* Mobiles & Tablets */

@media only screen and (max-width: 767px) {
  .body {
    position: relative;
    width: auto;
    background: rgba(232, 232, 232, 0.875);
    overflow-x: hidden;
    margin-left: auto;
    margin-right: auto;
  }

  .container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    border-end-start-radius: 50px;
  }

  /* Toolbar */

  .toolbar {
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #fff;
    justify-content: space-between;
  }

  .logo {
    display: flex;
    align-items: center;
    padding: 10px 12px;
    margin-left: 5%;
  }

  .my-logo {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: #2230d2;
  }

  nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 5%;
  }

  .menu-list {
    list-style-type: none;
    visibility: hidden;
    height: 1px;
    width: 1px;
  }

  .btn-menu {
    display: flex;
    align-items: flex-start;
    padding: 8px;
  }

  .openmenu {
    background-color: transparent;
    border: none;
  }

  /* Menu */

  .sidebar {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 100%;
    right: 0;
    bottom: 0;
    transition: all 500ms;
    backdrop-filter: blur(5px);
  }

  .sidebar a {
    color: #fff;
  }

  .toggle {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    opacity: 0.7;
    height: 100%;
    padding: 2vh;
    gap: 1vh;
    border: transparent;
    background-color: #1120a1;
  }

  .toggle li {
    list-style: none;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    padding: 3vh;
  }

  .closemenu {
    display: flex;
    margin-left: 90%;
    margin-right: auto;
    border: transparent;
    background-color: transparent;
    padding: 1vh;
    overflow: hidden;
  }

  /* Headline */

  .headline {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: auto;
    height: auto;
    padding: 114px 24px;
    gap: 12px;
    background-image: url(../img/Mobile/header_background_mobile.svg);
    background-position: center;
    background-position-y: 14px;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .primary-text-header {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #172b4d;
  }

  .primary-text-body {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
  }

  .social-media {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 16px;
  }

  .supporting-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
  }

  .lets-connect {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    color: #2230d2;
  }

  .lets-connect:hover {
    color: #091e42;
  }

  .social-media-icons {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  .header-icons {
    display: flex;
    list-style-type: none;
    padding: 0;
    gap: 15%;
  }

  .header-icons li {
    display: flex;
    align-items: center;
  }

  .sm-icons img {
    width: auto;
    height: auto;
  }

  /* Works */

  .work {
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    padding: 114px 24px;
    gap: 88px;
  }

  .card-works {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    gap: 12px;
    border: 1px solid #dfe1e6;
    border-radius: 16px;
    background: #fff;
    box-sizing: border-box;
  }

  .snapshoot {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 295px;
    height: 220px;
    border-radius: 8px;
  }

  .left-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 12px;
  }

  .primary-text-work {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    order: 0;
    padding: 0;
  }

  .project-title {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 44px;
    color: #172b4d;
  }

  .frame-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 12px;
    width: auto;
    height: 32px;
  }

  .client {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px 0;
    color: #344563;
    width: auto;
    height: 32px;
  }

  .role {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px 0;
    color: #7a869a;
    width: auto;
    height: 32px;
  }

  .year {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px 0;
    color: #7a869a;
    width: auto;
    height: 32px;
  }

  .text-p {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
  }

  .counter {
    width: 8px;
    height: 8px;
    background-image: url(../img/Icons/point.svg);
  }

  .secondary-text-work p {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #344563;
  }

  .secondary-text-work {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 76px;
    margin-bottom: 15px;
  }

  .list-tag {
    width: 100%;
    height: auto;
    padding-left: 1px;
    list-style-type: none;
    padding-top: 5px;
    display: flex;
    align-items: center;
  }

  .list-tag li {
    display: flex;
    align-items: center;
    padding: 4px 12px;
    background: #ebebff;
    margin-right: 1vh;
    border-radius: 8px;
  }

  .text-s {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
  }

  .action {
    display: flex;
    width: 295px;
    flex-direction: row;
    align-items: center;
    height: 72px;
  }

  .action-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: 48px;
    padding: 12px;
    gap: 10px;
    border: 1px solid #2230d2;
    border-radius: 8px;
    background-color: transparent;
    color: #2230d2;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
  }

  .action-button:hover {
    background: #2230d2;
    box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
    border-radius: 8px;
    color: #fff;
  }

  .action-button:focus {
    background: #2230d2;
    color: #fff;
  }

  .action-button:active {
    background: #2231d5;
    border-radius: 8px;
    color: #fff;
  }

  /* About Me */

  .base-about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
  }

  .about-my-self {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 114px 24px;
    gap: 24px;
    width: 375px;
  }

  .top {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 12px;
  }

  .primary-text-about-me {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    width: 250px;
    color: #172b4d;
  }

  .secondary-text-about-me {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #344563;
  }

  .social-media-about-me {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 18px;
    gap: 16px;
  }

  .suppoting-text-about-me {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 8px;
  }

  .frame-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
  }

  .skill-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .skill-list li {
    list-style-type: none;
  }

  #frame-skill {
    width: 327px;
    height: 72px;
    display: grid;
    align-items: center;
    justify-content: space-between;
    grid-template-columns: auto auto;
    padding: 5px;
  }

  .frame-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .text-skill {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    padding-left: 6px;
  }

  .button-skill {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px;
    width: 40px;
    height: 40px;
    margin-right: 13px;
    background-color: transparent;
    border: none;
  }

  .separator {
    background: #dfe1e6;
    height: 1px;
    grid-column: 1 / span 2;
  }

  #s-1 {
    visibility: hidden;
  }

  .languages-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;
    gap: 12px;
  }

  .frame-list {
    width: 303px;
    height: 66.72px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    background: #f7f7f9;
    border-radius: 8px;
  }

  .frame-img {
    background: transparent;
    padding-left: 10px;
  }

  .frame-text {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
  }

  /* Contac Me */

  .contact-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 779px;
    background: #4848e7;
    background-image: url(../img/Mobile/contact_background_mobile.svg);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .primary-text-contact-me {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #fff;
    margin-top: 103px;
  }

  .secondary-text-contact {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #babaef;
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 35px;
  }

  .form-contact-me {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .input {
    border: 1px solid #cfd8dc;
    border-radius: 8px;
    height: 48px;
    width: 327px;
    margin-bottom: 20px;
    padding-left: 15px;
  }

  .input:focus {
    background-color: rgb(216, 218, 235);
  }

  #message {
    height: 170px;
    width: 327px;
    padding-top: 10px;
  }

  .submit-button {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: auto;
    height: 48px;
    padding: 10px;
    gap: 10px;
    border: 1px solid #2230d2;
    border-radius: 8px;
    background-color: #fff;
    color: #2230d2;
    margin-left: -210px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
  }

  .submit-button:hover {
    background: #2230d2;
    box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
    border-radius: 8px;
    color: #fff;
  }

  .submit-button:focus {
    background: #2230d2;
    color: #fff;
  }

  .submit-button:active {
    background: #5666f9;
    border-radius: 8px;
    color: #fff;
  }
}

/* Desktop */

@media (min-width: 768px) {
  .body {
    display: flex;
    flex-direction: column;
    background: #fff;
    margin-left: auto;
    margin-right: auto;
  }

  .container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
  }

  /* Toolbar */

  #header {
    position: fixed;
    width: 100%;
    top: 0;
  }

  .toolbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background-color: #fff;
  }

  .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 12px;
    margin-left: 18vh;
  }

  .my-logo {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: #2929ff;
  }

  nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 12px;
    margin-right: 24vh;
  }

  .menu-list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 18px;
    margin-top: 12px;
  }

  .menu-list li {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
  }

  .menu-list li a:hover,
  .menu-list li a.active {
    color: #67c659 !important;
  }

  .menu-list li a:hover::after,
  .menu-list li a.active::after {
    content: "";
    width: 100%;
    height: 2px;
    background: #67c659;
    display: flex;
  }

  .btn-menu {
    display: flex;
    visibility: hidden;
    height: 1px;
    width: 1px;
  }

  .sidebar {
    position: absolute;
    visibility: hidden;
  }

  /* Headline */

  .headline {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 10px;
    background-image: url(../img/Desktop/header_background_desktop.svg);
    background-position: center;
    background-repeat: no-repeat;
  }

  .primary-text-header {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    margin-top: 20%;
    margin-left: 18%;
    width: 50%;
    color: #091e42;
  }

  .primary-text-body {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    margin-left: 18%;
    margin-right: 18%;
    color: #344563;
  }

  .social-media {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 18%;
    padding-bottom: 16%;
  }

  .supporting-text {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .lets-connect {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #2929ff;
  }

  .lets-connect:hover {
    color: #172b4d;
  }

  .social-media-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .header-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    padding-left: 0;
  }

  .header-icons li {
    padding-top: 14px;
    padding-right: 19px;
  }

  /* Works */

  .work {
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    padding: 142px;
    gap: 142px;
    overflow: hidden;
  }

  .card-works {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 22px;
    border: 1px solid #dfe1e6;
    border-radius: 16px;
    background: #fff;
    box-sizing: border-box;
    overflow: hidden;
  }

  #card-2,
  #card-4 {
    flex-direction: row-reverse;
  }

  .snapshoot {
    display: block;
    border-radius: 8px;
    overflow: hidden;
  }

  .left-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    gap: 24px;
  }

  .primary-text-work {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 24px;
  }

  .project-title {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #091e42;
  }

  .frame-2 {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    align-items: center;
    gap: 1.5vh;
    height: auto;
  }

  .frame-2 p {
    margin-top: auto;
    margin-bottom: auto;
  }

  .client {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    color: #344563;
    height: 25px;
  }

  .role {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    color: #6b778c;
    background-color: transparent;
  }

  .year {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    color: #6b778c;
    height: 25px;
  }

  .text-p {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
  }

  .counter {
    width: 8px;
    height: 8px;
    background-image: url(../img/Icons/point.svg);
  }

  .secondary-text-work p {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
  }

  .secondary-text-work {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
  }

  .list-tag {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-left: 0;
    list-style-type: none;
  }

  .list-tag li {
    display: flex;
    align-items: center;
    padding: 4px 12px;
    background: #ebebff;
    margin-right: 2vh;
    border-radius: 8px;
  }

  .tag {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #6070ff;
  }

  .text-a {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    color: #396df2;
  }

  .action {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .action-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;
    gap: 10px;
    border: 1px solid #2929ff;
    border-radius: 8px;
    background-color: transparent;
    color: #2929ff;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    transition: all 300ms ease-in-out;
  }

  .action-button:focus {
    background: #2929ff;
    color: #fff;
  }

  .action-button:hover {
    background: #2929ff;
    box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
    border-radius: 8px;
    color: #fff;
  }

  .action-button:active {
    background: #2f3edf;
    border-radius: 8px;
    color: #fff;
  }

  /* About Me */

  .about-my-self {
    display: grid;
    grid-template-columns: 36% 55%;
    align-items: flex-start;
    padding: 142px;
    gap: 25px;
  }

  .top {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 12px;
  }

  .primary-text-about-me {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    width: 250px;
    color: #172b4d;
  }

  .secondary-text-about-me {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #344563;
  }

  .social-media-about-me {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 18px;
    gap: 16px;
  }

  .suppoting-text-about-me {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 8px;
  }

  .frame-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
  }

  .skill-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
  }

  .skill-list li {
    list-style-type: none;
    width: 100%;
  }

  #frame-skill {
    width: 100%;
    height: 72px;
    display: grid;
    align-items: center;
    justify-content: space-between;
    grid-template-columns: auto auto;
    padding: 12px;
  }

  .frame-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    width: 100%;
  }

  .text-skill {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    padding-left: 12px;
  }

  .button-skill {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    width: 40px;
    height: 40px;
    margin-right: 14px;
    background-color: transparent;
    border: none;
  }

  .separator {
    background: #dfe1e6;
    height: 1px;
    grid-column: 1 / span 2;
  }

  #s-1 {
    visibility: hidden;
  }

  .languages-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px;
    gap: 12px;
  }

  .frame-list {
    width: 100%;
    padding: 12px 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    background: #f7f7f9;
    border-radius: 8px;
  }

  .frame-img {
    background: transparent;
    width: auto;
    height: auto;
  }

  .frame-text {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
  }

  /* Contact-me */

  .contact-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 144px;
    background: #4848e7;
    background-image: url(../img/Desktop/contact_background_desktop.svg);
    background-position: 75.34px 170px;
    background-repeat: no-repeat;
  }

  .form-contact-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }

  .primary-text-contact-me {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #fff;
  }

  .secondary-text-contact {
    width: 569px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #fff;
  }

  .input {
    border: 1px solid #cfd8dc;
    border-radius: 8px;
    height: 48px;
    width: 393px;
    margin-top: 15px;
  }

  .input:focus {
    background-color: rgb(222, 222, 222);
  }

  #message {
    height: 170px;
    width: 393px;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .submit-button {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: auto;
    height: 48px;
    margin-bottom: 63px;
    padding: 10px;
    border: 1px solid #2929ff;
    border-radius: 8px;
    background-color: #fff;
    color: #2929ff;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
  }

  .submit-button:focus {
    background: #2230d2;
    color: #fff;
  }

  .submit-button:hover {
    background: #2230d2;
    box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
    border-radius: 8px;
    color: #fff;
  }

  .submit-button:active {
    background: #3d4ff4;
    border-radius: 8px;
    color: #fff;
  }
}
